/* general rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-height: 3.5rem;
  --first-color:  #e67e22;
  --title-color: #fff;
  --text-color: hsl(0, 0%, 75%);
  --body-color: linear-gradient(
    to bottom,
    rgba(88, 88, 195, 0.965),
    rgba(30, 34, 34, 0.3)),
  --body-font:"Poppins", sans-serif;
  --second-font: "Open Sans", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: 0.813rem;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
 }

body {
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: var(--body-font);
}
 

p {
  font-family:  var(--second-font);

}

.sectionTitle {
  font-size: var(--h2-font-size);
  font-weight: 500;
  text-transform: uppercase;
}

.contactSection,
.projectsSection,
.skillsSection {
  padding-top: 10rem;
  background-image: linear-gradient(
    to bottom,
    rgba(88, 88, 195, 0.965),
    rgba(30, 34, 34, 0.3)
  );
  text-align: center;
  padding-bottom: 8rem;
  color: var(--title-color)
}

/*----------------------------- NAVIGATION BAR------------------------ */



 .logo {
  width: 8rem;

} 

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(163, 163, 240, 0.965),
    rgba(30, 34, 34, 0.3)
  );
  z-index: var(--z-fixed);
 
 }

 #mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
 }

.nav__toggle,
.nav__close {
 font-size: 1.5rem;
 color: var(--title-color);
 cursor: pointer;
 font-size: 2.2rem;
 padding-right: 1.2rem;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  list-style: none;
  padding-top: 1.5rem;
 }
 
 .nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
  text-decoration: none;
  text-transform: uppercase;
  
 }
 
 .nav__link:hover {
  color: var(--first-color);
 }
 
 .nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
 }
 
 .show-menu {
  right: 100;

 }

/* -------------------------Projects Page----------------------------  */

.project-card {
  position: relative;
  display: block;
  margin: 0.8rem;
}

.project-card-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  background: rgba(246, 245, 243, 0.9);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.project-card-caption-content {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.project-description-tools {
  color: black;
}
.project-card:hover .project-card-caption {
  opacity: 1;
}
.project-card-caption-content {
  line-height: 2rem;
}
.project-card-caption-content a:hover {
  text-decoration: none;
}
.project-card-caption-content i.fab {
  font-size: 2.2rem;
  color: #f16926dd;
}
.project-card-caption-content i.fas {
  padding-top: 0.8rem;
  font-size: 1.8rem;
  color: #f16926dd;
}

/* ------------------------Skills Page----------------------- */
.skillsSection {
  padding-top: 10rem;
  padding-bottom: 2rem;
}
.skillsSection p {
  line-height: 1.8;
  font-size: 1.2rem;
}
.skillsSection h3 {
  font-weight: 300;
  font-size: 1.5rem;
  color: var(--text-color);
}
.listInline {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  padding: 1.2rem;
  font-size: 1.4rem;
}

.socialIcons img {
  width: 40px;
  padding-bottom: 4rem;
}

/* ----------------------Contact Form Page --------------- */
.contactSection {
  min-height: 100vh;
}

#contact-form {
  padding: 1rem;
  font-size: 1.5rem;
  color: #495057;
  font-weight: 500;
}

.btn-contact-me {
  background-color: #e67e22;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 35px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-contact-me:hover,
.btn-contact-me:focus {
 transition: right 0.4s;
}



.info {
  width: 100%;
}

 .info h4 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: white
}

.info p {
  margin-bottom: 0;
  font-size: 14px;
  color: #f2f5f7;
}

.info .email,
.info .phone {
  margin-top: 40px;
}


/* -----Media query------ */
/* Below 1400px */
@media  only screen and (max-width: 87.5em) {
  .contactSection {
    max-width: 120rem;
  }

  .logo{
    margin-left: 6rem;
  }
}
/* -------------------Responsive Navbar------------------ */
/* below 1150px */
@media screen and (max-width: 1150px) {

  .nav__menu {
    position: fixed;
    top: 0;
    right: 0;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    min-width: 30vw;
    min-height: 3vh;
    transition: right 0.4s;
  }
 
 }

  @media screen and (min-width: 1150px) {
  .nav {
     height: calc(var(--header-height) + 1rem); 
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }
 
  .nav__list {
    flex-direction: row;
    column-gap: 2.5rem;
  }
} 

/* ---------------------------------------------------------- */
/* Below 1200px */
@media  only screen and (max-width: 75em) {
  .navbar-brand {
    padding-left: 1rem;
  }
  .sectionTitle {
    font-size: 1.5rem;
  }

}
/* Below 990px (Tablets)*/
@media only screen and (max-width: 62em) {
  .listInline {
    font-size: 1.2rem;
  }

  .skillsSection p{
    font-size: 0.8rem;
    padding: 0 0.4rem;
  }

  .skillsSection h3{
    font-size: 1.1rem;
    margin: 0 auto;
  }
  .socialIcons img{
    width: 15%;
  }
  
  .info h4{
    font-size: 1rem;
  }
  .map {
    width: 100%;
    height: 35vh;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 36em) {
    #mainNav {
    margin-left: 0;  
  }
  .logo{
    margin-left: 2rem;
  }

}
/* Below 473px (Tablets)*/
/* 320px — 480px */
@media (min-width: 20em) and (max-width: 30em) {
  .hero-container{
    margin-bottom: 3rem;
  }
  .logo{
    padding-left: 5px;
    width: 7rem;
  }

  .nav__list {
    row-gap: 1rem;
    list-style: none;
    padding-top: 4rem;
   }

   .nav__close {
    top: 0.2rem;
    right: 0.2rem;
    font-size: 1.8rem;
   }
   
  .sectionTitle {
    font-size: 1.2rem;
    margin-bottom: 0;
  }

  .skill-items{
    font-size: 1rem;
  
  }
  .skillsSection p{
    font-size: 0.8rem;
    padding: 0 0.4rem;
  }

  .skillsSection h3{
    font-size: 0.9rem;
    margin: 0 auto;
  }
  .listInline {
    font-size: 1rem;
    padding: 0.8rem;
    margin-bottom: 0;
  }
  .socialIcons img{
    width: 15%;
  }
  .btn-contact-me {
    font-size: 13px;
    padding: 5px 20px;
  }

}
